<section class = "video">
  <div class = "container">
    <div class = "overlay">
      <img src = "/assets/img/Fond%20vidéo.png">
      <div class = superpose>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Y8jXBnkPtmQ?si=CbnfGi2x4J-nKP7h" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

