<section class="join-us">
  <div class="content">
    <h1>On se lance dans <br>l'aventure ?</h1>
    <div class="download">
      <img src="./assets/img/mockup%20multidevice%201.svg">
      <div class="infos">
        <p>Téléchargez dès maintenant l'application BetterDJ et ne soyez plus jamais déçu de votre DJ!</p>
        <div class="buttons">
<!--          <button id="telephone">Télécharger sur téléphone</button>-->
          <button id="ordinateur" class="disco-border">
            <a href="https://betterdj.fr" target="_blank">Ouvrir dans le navigateur</a>
          </button>
        </div>
      </div>
    </div>

  </div>
</section>
