<section class="presentation">
  <div class="useful-width">
    <div class="margin-constraint">
      <div class="container">
        <div class="left">
          <p>PARTAGEZ VOS SONS,</p>
          <p>DECOUVREZ-EN,</p>
          <p>PROFITEZ-EN.</p>
          <div class="button">
<!--            <a id="btn1">Télécharger sur téléphone</a>-->
            <a id="btn2" class="outlined-btn-white" href="https://betterdj.fr" target="_blank">Ouvrir dans le navigateur</a>
          </div>
        </div>
        <div class="right">
          <img src="assets/img/phone.png" alt="phone" >
        </div>
      </div>
      <a class="arrow" id="arrow" href="#data">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="20" viewBox="0 0 42 20" fill="none">
          <path d="M3 3L21 16.6957L39 3" stroke="white" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </div>
</section>
